@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Satoshi', sans-serif;
}

/*HomePage*/
.bg-image {
  background-image: url(assets/bg-home-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width : 1024px) {
  .bg-image {
    background-position: 65%;
  }

  header {
    backdrop-filter: blur(15px);
  }
}

.bg-blur {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.692) 25%, rgba(0, 0, 0, 0));
}

.bg-blur-white {
  background-color: rgba(205, 204, 204, 0.537);
  /* Couleur blanche semi-transparente */
  backdrop-filter: blur(10px);
  /* Appliquer le flou */
  -webkit-backdrop-filter: blur(10px);
}

.animation-home-page {
  animation: HomePage 1.8s ease;
}

@keyframes HomePage {
  from {
    opacity: 0;
    margin-bottom: -20vh;
  }

  to {
    opacity: 1;
    margin-bottom: 0vh;
  }
}

/*Page-1*/
.Font-Bold-Tittles {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card-1-page1,
.card-2-page1,
.card-2-page1,
.card-3-page1,
.card-4-page1 {
  background-size: cover;
  background-position: bottom;
  border-radius: 20px;
}

.card-1-page1 {
  background-image: url(assets/personnele_trainner.png);
}

.card-2-page1 {
  background-image: url(assets/Outdoor-Classes.jpg);
}

.card-3-page1 {
  background-image: url(assets/digital-cotch.jpg);
}

.card-4-page1 {
  background-image: url(assets/group.jpg);
}

/*Page-1*/
.card-1-page2,
.card-2-page2 {
  background-size: cover;
  background-position: bottom;
}

.card-1-page2 {
  background-image: url(assets/coaches-2.png);
}

.card-2-page2 {
  background-image: url(assets/coaches.png);
}

/* Apply animation to all icons */
#icone-1,
#icone-2,
#icone-3,
#icone-4 {
  animation: icone-animation 8s infinite;
  color: black;
  background-color: white;
  border-width: 2px;
  border-color: #d1d5db;
}

@keyframes icone-animation {

  0%,
  24% {
    color: black;
    background-color: white;
    border-width: 2px;
    border-color: #d1d5db;
  }

  25%,
  49% {
    color: white;
    background-color: black;
  }

  50%,
  74% {
    color: black;
    background-color: white;
    border-width: 2px;
    border-color: #d1d5db;
  }

  75%,
  100% {
    color: black;
    background-color: white;
    border-width: 2px;
    border-color: #d1d5db;
  }
}

#icone-1 {
  animation-delay: 0s;
}

#icone-2 {
  animation-delay: 2s;
}

#icone-3 {
  animation-delay: 4s;
}

#icone-4 {
  animation-delay: 6s;
}